<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Pixel. Run. Namics. - {{title}}</title>
    <link rel="stylesheet" href="dist/bin/app.min.css">
    <link rel="icon" href="dist/assets/img/favicon.png" type="image/png">
</head>
<body>
    <div class="wrapper template-wrapper">
        {{{body}}}
    </div>
    {{#if $debug}}
        <script src="dist/dependencies.js"></script>
        <script src="dist/application.js"></script>
    {{else}}
        <script src="dist/bin/app.min.js"></script>
    {{/if}}
</body>
</html>
