<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Pixel. Run. Namics. - {{title}}</title>
    <link rel="stylesheet" href="/public/application.css">
    <link rel="icon" href="/public/favicon.png" type="image/png">
</head>
<body>
    <main id="root">
    </main>
    <script src="/public/{{script}}.js"></script>
</body>
</html>
