<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta name="author" content="Namics AG">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Die digitale Welt spielerisch erkunden. Spiele zusammen mit Freunden im Namics Pixel. Run. um den Highscore. Neu auch online verfügbar!">
    <meta name="keywords" content="Pixel. Run, Pixelrun, pixel, Namics AG, Namics, tunOstschweiz, OFFA, Game, Jump N Run, Jump and Run, Sprinten, Hüpfen, Spiel, Game, Spielen, Tilemap, Tileset, Tile, Karte, Map, Express, Node.js, HTML">
    <title>Pixel. Run. Namics. - {{title}}</title>
    <link rel="stylesheet" href="/public/application.css{{#if $debug}}?build={{$build}}{{/if}}">
    <link rel="icon" href="/public/assets/img/favicon.png" type="image/png">
</head>
<body class="application {{#if isContentPage}}content-page{{/if}}" {{#if $debug}}data-build="{{$build}}"{{/if}}>
    <main>
        {{{body}}}
    </main>
    <script src="/public/dependencies.js{{#if $debug}}?build={{$build}}{{/if}}"></script>
    <script src="/public/application.js{{#if $debug}}?build={{$build}}{{/if}}"></script>
</body>
</html>
