# build information files
.build
release

dist/

*.swp

# env files
.env

# npm lock file because yarn
package-lock.json

# scores
data/scores.json

# dependencies
node_modules
npm-debug.log

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history
