# build information files
.build
release

# build-compressed assets
www/dist/assets

# main css and js exports
www/dist/application.css
www/dist/application.js
www/dist/dependencies.js

# scores
app/data/scores.json

# dependencies
node_modules
vendor
