body.error-page {
    background-color: #fff;
}

body.error-page {
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: normal;
    padding: 40px;
}

body.error-page .wrapper {
    max-width: 1024px;
}

body.error-page h1 {
    font-size: 40px;
}

body.error-page h2 {
    font-size: 20px;
    margin-top: 20px;
}

body.error-page pre {
    margin-top: 10px;
    word-wrap: break-word;
    font-family: monospace;
    font-size: 17px;
    background-color: #eee;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid #ddd;
}
