.error-pane {
    height: 100%;
    background-color: #000;
    color: #fff;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: normal;
    padding: 40px;
}

.error-pane .wrapper {
    max-width: 1024px;
}

.error-pane h1 {
    font-size: 40px;
}

.error-pane small {
    color: #aaa;
    font-size: 70%;
}

.error-pane .go-back {
    color: #fff;
    text-decoration: none;
    margin-top: 15px;
    display: inline-block;
}

.error-pane pre {
    margin-top: 20px;
    word-wrap: break-word;
    font-family: monospace;
    font-size: 16px;
    line-height: 18px;
    background-color: #111;
    padding: 20px;
    border-radius: 2px;
    border: 1px solid #222;
}
