body, html, .autosize, .wrapper {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    color: #000;
    background-color: #000;
}

img {
    max-width: 100%;
    display: block;
}

*:focus {
    outline: 0;
}

input, select, textarea, button{
    font-size: 18px;
    border: 1px solid #eee;
    border-radius: 4px;
    background-color: #fff;
    color: #222;
    padding: 8px;
}

table {
    width: 100%;
}

table td {
    padding: 10px 2px 15px 2px;
}

table tbody td {
    font-family: Arial, sans-serif;
    font-weight: 200;
}

table thead td,
table tbody td strong  {
    font-family:  Arial, sans-serif;
    font-weight: 700;
}

table thead td {
    border-bottom: 1px solid #ddd;
}

table tbody > tr:first-child td {
    padding-top: 15px;
}

.paper-layer {
    box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12),0 1px 1px 0 rgba(0,0,0,.24);
    -moz-box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12),0 1px 1px 0 rgba(0,0,0,.24);
    -webkit-box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12),0 1px 1px 0 rgba(0,0,0,.24);
}

button.inverse {
    background-color: #222;
    color: #fff;
    border-color: #444;
}

.center-helper {
    position: relative;
    height: 100%;
}

.center-target {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hidden {
    display: none;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

#js-player-list {
    margin-top: 10px;
    width: 100%;
    display: block;
    margin-top: 10px;
}

@media print {
    body {
        background-color: #fff;
        color: #000;
    }
}
