.bgimage {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
}

.preload-wrapper .content {
    max-width: 500px;
    margin: 100px auto 0 auto;
}

.preload-wrapper .content .col-1-2 > * {
    font-size: 18px;
    width: 100%;
    display: block;
}
