.resume {
    color: #fff;

    h1 {
        text-align: center;
        font-size: 86px;
        margin: 0 0 30px 0;
        padding-top: 30px;
    }

    h2 {
        font-family: 'Roboto Light';
        font-size: 25px;
        text-align: center;
    }

    > table {
        max-width: 50%;
        margin: 0 auto;
        margin-top: 120px;
        font-size: 32px;

        thead {
            td {
                border: 0px transparent;
            }
        }

        .actions {
            margin-top: 150px;
        }
    }

    .grid {
        margin-top: 90px;

        button {
            color: #fff;
            background-color: transparent;
            display: block;
            width: 100%;
            text-align: center;
            font-size: 60px;
            border: 0px solid transparent;

            a {
                text-decoration: none;
                color: #fff;
            }
        }
    }
}
