.score-wrapper {
    max-width: 1000px;
    width: 80%;
    margin: 40px auto;
    color: #fff;
    border-radius: 3px;
    padding: 20px;
    font-size: 25px;

    h1 {
        text-align: center;
        font-size: 86px;
        margin: 0 0 50px 0;
        font-weight: bold;
    }

    table thead td {
        border-bottom: 0px solid transparent;
        font-size: 29px;
    }
}

@media print {
    .score-wrapper {
        max-width: 100%;
        width: 100%;
        padding: 0;
        margin: 20px 0;
        color: #000;

        h1 {
            border: none;
            font-size: 40px;
            margin: 15px 0;
        }

        table {
            border: 0;

            thead {
                td {
                    font-size: 20px;
                }
            }

            tbody {
                td {
                    font-size: 18px;
                }
            }
        }
    }
}
