.step {
    height: 100%;
    background-color: #000;
    color: #fff;
    padding: 40px;
    font-family: Arial, sans-serif;
    font-weight: 400;
}

.step .grid {
    /*max-width: 100%; */
}

.step .wordmark {
    font-size: 45px;
    font-weight: bold;
}

.step .wordmark .last {
    color: #a9c400;
}

.step .question {
    text-transform: uppercase;
    font-size: 12px;
}

.step .footer {
    position: absolute;
    bottom: 40px;
    left: 40px;
    right: 40px;
}

.step .body {
    margin: 150px 0;
}

.step .body.space-xl {
    margin: 250px 0;
}

.step input {
    width: 100%;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 24px;
}

.step .grid [class*='col-'] .center {
    text-align: center;
}

.step .grid [class*='col-'] .title {
    font-size: 24px;
}

.step .grid [class*='col-'] img {
    display: block;
    margin: 0 auto 30px auto;
    transition: all .2s linear;
    -o-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
}

.step .grid.grid-border [class*='col-'] img {
    border: 5px solid #fff;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 20px;
}

.step .grid [class*='col-'] img.img-sm {
    max-width: 220px;
}

.step i.icon.next {
    float: right;
    font-size: 80px;
    color: #fff;
}

.step .js-selectable.selected img {
    max-width: 450px;
}

.step .fullscreen-text {
    font-size: 120px;
    text-align: center;
    margin-top: 350px;
}

@media print {
    .step {
        background-color: #fff;
        color: #000;
    }

    .step input {
        color: #000;
    }

    .step ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color: #bbb;
    }

    .step :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: #bbb;
        opacity:  1;
    }

    .step ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: #bbb;
        opacity:  1;
    }

    .step :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #bbb;
    }

    .step :placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
        color: #bbb;
    }
}
