.step {
    height: 100%;
    background-color: #000;
    color: #fff;
    padding: 40px;
    font-family: Arial, sans-serif;
    font-weight: 400;
}

.step .wordmark {
    font-size: 45px;
    font-weight: bold;
}

.step .wordmark .last {
    color: #a9c400;
}

.step .question {
    text-transform: uppercase;
    font-size: 12px;
}

.step footer {
    overflow: hidden;
    position: absolute;
    bottom: 40px;
    left: 40px;
    right: 40px;
}

.step .body {
    margin: 150px 0;
}

.step .body.fill {
    margin: 100px 0;
}

.step .body.space-xl {
    margin: 250px 0;
}

.step .body .background-image {
    max-height: 380px;
}

.step input {
    width: 100%;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 24px;
}

.step .grid [class*='col-'] .center {
    text-align: center;
}

.step .grid [class*='col-'] .title {
    font-size: 24px;
}

.step .grid [class*='col-'] img {
    display: block;
    margin: 0 auto 30px auto;
    transition: all .2s linear;
    -o-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
}

.step .grid.grid-border [class*='col-'] img {
    padding: 20px;
}

.step .grid [class*='col-'] img.img-sm {
    max-width: 220px;
}

.step i.icon.next {
    float: right;
    font-size: 80px;
    color: #e8e8e8;
    margin-right: 30px;
    transition: all .2s linear;
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
}

.step i.icon.next:focus {
    margin-right: 0;
    color: #fff;
}

.step .js-selectable.selected img,
.step .js-selectable:focus img {
    max-width: 450px;
}

.step .fullscreen-text {
    font-size: 120px;
    text-align: center;
    margin-top: 350px;
}
