<div class="application application-page autosize">
    <div class="autosize page-wrapper">
        <section class="content">
            {{#> post title="Über Pixel. Run." type="teaser" isTeaser="true"}}
                <p>
                    <strong>Die digitale Welt spielerisch erkunden. Spiele zusammen mit Freunden im Namics Pixel. Run. um den Highscore.
                    Neu auch online verfügbar!</strong>
                </p>
            {{/post}}
            {{#> post title="Das Projekt"}}
                <p>
                    Pixel. Run. ist ein Projekt, welches von den beiden Lernenden Fabio Russo und Jan Biasi umgesetzt
                    worden ist. Hierbei hat Fabio das Design des Spiels von den Avataren bis zu den atemberaubenden Karten
                    übernommen und Jan die technische Ebene dafür gebildet und das Spiel selbst entwickelt.
                </p>
                <p>
                    Die Projektleitung übernahm Florian Bentele und Bruno Dietsche, Lehrmeister der angehenden Informatiker respektiv
                    Interactive Media Designer und Grafikern.
                </p>
            {{/post}}
            {{#> post title="Veröffentlichung"}}
                <p>
                    An der <a href="http://www.offa.ch/" target="_bank">OFFA Frühlings- und Trendmesse 2016</a> wurde das Spiel erstmals vorgestellt - und dies mit vollem Erfolg. Rund 1'000 Spielerinnen
                    und Spieler im Altersbereich von 7 bis 50 Jahren vergnügten sich während fünf Tagen mit dem Spiel in den St. Galler Messehallen.
                </p>
            {{/post}}
            {{#> post title="Interaktive Spielsteuerung"}}
                <p>
                    An der <a href="http://www.offa.ch/" target="_blank">Frühlings- und Trendmesse (OFFA) 2016</a> sowie an den <a href="https://informatiktage.ch/" target="_blank">Informatikertagen 2016</a> in Zürich
                    kann das Spiel mit sogenannten Bodenplatten völlig interaktiv gespielt werden. Das ganze funktioniert folgendermassen: Pro Spieler existiert eine
                    Bodenplatte in der Farbe seines Avatars im Spiel. Sobald das Spiel gestartet wird, können die Teilnehmer auf diese Bodenplatten stehen und rennen somit
                    geradewegs richtung Ziel. Rennt man in Richtung einer Erhöhung oder eines Lochs so müssen die einzelnen Spieler mit ihren Avataren springen in dem sie
                    selbst mit Schwung in die Höhe schiessen. Auf unserem <a href="http://zukunft.namics.com/2016/03/tun-ostschweiz-spielsteuerung/" target="_blank">Lehrings-Blog</a> erfahren Sie mehr zu den Bodenplatten und dessen Konstruktion.
                </p>
            {{/post}}
            {{#> post title="Mobile-Version"}}
                <p>
                    Aktuell kann das Spiel nur auf Desktop-Computern sowie Notebooks gespielt werden und werden nur dort unterstützt.
                </p>
            {{/post}}
            <a class="button" href="/">Jetzt spielen!</a>
        </section>
    </div>
</div>
