<div class="autosize pregame steps">
    <div class="step js-step-1 js-step-start" data-next="js-step-2" data-noprocess="true">
        {{> step_intro}}
    </div>
    <div class="step hidden js-step-2" data-next="js-step-3" data-input="js-s2-in">
        {{> step_world}}
    </div>
    <div class="step hidden js-step-3" data-end="true">
        {{> step_start}}
    </div>
</div>
{{> phaser}}
<div class="hidden">
    <input id="js-worlds" type="hidden" value="{{worlds}}">
</div>
