<div class="application application-game autosize">
    <div class="autosize pregame steps">
        <div class="step js-step-1 js-step-start" data-next="js-step-2" data-noprocess="true">
            {{> step_intro}}
        </div>
        <div class="step hidden js-step-2" data-input="js-s2-in" data-next="js-step-3">
            {{> step_avatar}}
        </div>
        <div class="step hidden js-step-3" data-next="js-step-4" data-input="js-s3-in">
            {{> step_world}}
        </div>
        <div class="step hidden js-step-4" data-end="true">
            {{> step_start}}
        </div>
    </div>
    {{> phaser}}
    {{> resume}}
</div>
<div class="application application-game application-game--smartphone">
    <h2>Es tut uns leid ...</h2>
    <p>Das Spiel Pixel. Run. wird zurzeit nur auf dem Computer unterstützt.</p>
    <a class="button" href="/about">Mehr dazu</a>
</div>
