<div class="hidden js-finished resume">
    <h1>Game Over.</h1>
    <table>
        <thead>
            <tr>
                <td>Platzierung</td>
                <td>Spieler</td>
                <td>Score</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>#1</td>
                <td>{p1}</td>
                <td>{p1s}</td>
            </tr>
            <tr>
                <td>#2</td>
                <td>{p2}</td>
                <td>{p2s}</td>
            </tr>
            <tr>
                <td>#3</td>
                <td>{p3}</td>
                <td>{p3s}</td>
            </tr>
        </tbody>
    </table>
    <div class="grid grid-sm actions">
        <div class="col-1-2">
            <button role="button">
                <a href="/" title="Restart Game" tabindex="9">
                    <i class="icon icon-loop"></i>
                </a>
            </button>
        </div>
        <div class="col-1-2">
            <button role="button">
                <a href="/scores" title="Highscores" tabindex="10">
                    <i class="icon icon-trophy"></i>
                </a>
            </button>
        </div>
    </div>
</div>
