<header>
    <div class="grid grid-full">
        <div class="col-2-3">
            <h1 class="wordmark">Individuell. Auswahl. Avatar. <br>
                Pixel. Run. <span class="last">Namics.</span></h1>
        </div>
        <div class="col-1-3 align-right">
            <h2 class="question">Spielerauswahl</h2>
        </div>
    </div>
</header>
<div class="body space-xl">
    <div class="grid js-s2-in" data-process="input" data-read="js-input" data-key="players">
        <div class="col-1-3" data-value="techie">
            <img src="public/assets/img/avatars/nude/techie.png" alt="Techie" />
            <input type="text" class="center js-input" placeholder="Player 1" tabindex="2" data-index="0">
        </div>
        <div class="col-1-3 selectable" data-value="designer">
            <img src="public/assets/img/avatars/nude/designer.png" alt="Designer" />
            <input type="text" class="center js-input" placeholder="Player 2" tabindex="3" data-index="1">
        </div>
        <div class="col-1-3 selectable" data-value="consultant">
            <img src="public/assets/img/avatars/nude/consultant.png" alt="Consultant" />
            <input type="text" class="center js-input" placeholder="Player 3" tabindex="4" data-index="2">
        </div>
    </div>
</div>
<footer>
    <i class="icon icon-arrow-right next js-next" tabindex="5"></i>
</footer>
