<header>
    <div class="grid grid-full">
        <div class="col-2-3">
            <h1 class="wordmark">Deine Welt. Galaxie. Spielspass.<br>
                Pixel. Run. <span class="last">Namics.</span></h1>
        </div>
        <div class="col-1-3 align-right">
            <h2 class="question">Weltauswahl</h2>
        </div>
    </div>
</header>
<div class="body space-xl">
    <div class="grid grid-full grid-border grid-lg-img js-s3-in" data-process="select" data-use="world" data-key="world">
        <div class="col-1-3 js-selectable" data-world="space">
            <img src="public/assets/img/thumbnails/space.png" alt="Space World" />
        </div>
        <div class="col-1-3 js-selectable" data-world="candy">
            <img src="public/assets/img/thumbnails/candy.png" alt="Candy World" />
        </div>
        <div class="col-1-3 js-selectable" data-world="snow">
            <img src="public/assets/img/thumbnails/snow.png" alt="Snow World" />
        </div>
    </div>
</div>
<footer>
    <i class="icon icon-arrow-right next js-next"></i>
</footer>
