body.content-page {
    overflow: auto;
    height: auto;
    min-width: 0px;

    .autosize,
    main {
        height: auto;
    }
}

.application {
    &.application-page {
        padding-bottom: 40px;
        color: #fff;

        .page-wrapper {
            max-width: 800px;
            margin: 0 auto;
            padding: 40px 10px 20px 10px;
        }

        section article {
            margin-bottom: 35px;

            &.teaser {
                margin-bottom: 30px;
            }

            strong {
                font-weight: 700;
            }

            a {
                color: inherit;

                &:hover {
                    text-decoration: none;
                }
            }
        }

        h1 {
            &.teaser-title {
                font-size: 35px;
                margin-bottom: 20px;
                font-weight: bold;
            }
        }

        h2  {
            font-size: 22px;
            margin-bottom: 15px;
        }

        p {
            font-size: 16px;
            line-height: 19px;
            margin: 5px 0 10px 0;
        }

        a.button {
            background-color: #fff;
            color: #000;
            text-decoration: none;
            padding: 10px 25px;
            text-align: center;
            font-weight: bold;
            border-radius: 4px;
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            will-change: background-color;
            transition: background-color .2s linear;
            -moz-transition: background-color .2s linear;
            -webkit-transition: background-color .2s linear;

            &:hover {
                background-color: #ddd;
            }
        }
    }
}

@media all and (max-width: 500px) {
    .application {
        &.application-page {
            .page-wrapper {
                max-width: 100%;
                margin: 0;
                padding: 20px 15px 0 15px;
            }

            article.post {
                &:last-of-type {
                    margin-bottom: 20px;
                }
            }

            a.button {
                display: block;
            }
        }
    }
}
